**/tmp_files
**/tmux/plugins
**/backdrops
clipboard_history.json
**/mpv-cut
pamsdots/dot-config/ghostty
pamsdots/dot-config/nushell/nupm
pamsdots/dot-config/nvim
pamsdots/dot-config/nvim
pamsdots/dot-config/ghostty
pamsdots/dot-config/nushell/nupm
