/* @import "../omarchy/current/theme/waybar.css"; */
/**/
@define-color foreground #cdd6f4;
@define-color background #181824;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-poweroff:hover {
    color: #FC0000;
}

#custom-poweroff,
#cpu,
#battery{
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-vpn,
#wireplumber{
  margin-right: 12px;
}
#network {
  margin-right: 8px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
