window {
  background: transparent;
}

/* box.main { */
/*   padding: 5px; */
/*   margin: 10px; */
/*   border-radius: 10px; */
/*   border: 2px solid @theme_selected_bg_color; */
/*   background-color: @theme_bg_color; */
/*   background: rgba(46, 55, 79, 0.7); */
/* } */

box.main {
  background: rgba(46, 55, 79, 0.7);
  border-radius: 20px;
  margin: 1px;
  padding: 10px;
  border: 3px solid rgba(32, 229, 232,1);
}

box.main text selection {
  background-color: rgba(255,255,255,0.18);
  color: white;
}

text {
  min-height: 30px;
  padding: 5px;
  border-radius: 5px;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}



list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

* {
  all: unset;
  font: 22px "SF Pro Rounded";
}

/* label.match.description { */
/*   font: 23px "SF Pro"; */
/* } */
/**/
/* label.plugin.info { */
/*   font-size: 23px; */
/* } */

.match {
  background: transparent;
}

.match:selected {
  border-left: 4px solid rgba(32, 229, 232,1);
  background: transparent;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
