@define-color foreground #000;
@define-color background #79FCF8;
* {
  border: none;
  /* border-radius: 1; */
  font-family: "JetbrainsMono Nerd Font Propo";
  font-size: 15px;
  min-height: 20px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  border-radius: 8px;
  /* background: #ffffff; */
  background: @background;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @foreground;
  /* color: #fbf1c7; */
  /* default: color: #b5e8e0; */
  background: transparent;
  border-radius: 2px;

}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @foreground;
  background-color: #58C4C1;
}

#network:hover {
  color: @foreground;
  background-color: #04C9C6;
}


#battery.charging,
#battery.plugged {
  /* background: #9CE1FF; */
  background-color: @background;
}

#battery.critical:not(.charging) {
  background-color: #FC0000;
  color: @foreground;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f8bd96;
}

#idle_inhibitor,
#window,
#network,
#wireplumber,
#battery,
#temperature,
#cpu,
#memory,
#clock,
#custom-countdown,
#custom-peak {
  color: @foreground;
  background-color: @background;
}

#custom-countdown:hover {
  color: #000;
  background: #F57FF5;
}

#custom-arch {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #000000;
  background: #fff;
}
#custom-arch:hover {
  color: #fff;
  background: #000;
}
#temperature:hover {
  color: #161320;
  background: #FC6565;
}
#cpu:hover {
  color: #161320;
  background: #30FC45;
}

#memory:hover {
  color: #161320;
  background: #FFE51A;
}

#wireplumber:hover {
  color: #161320;
  background: #FFA770;
}

/* #battery:hover { */
/*   color: #161320; */
/*   background: #3BFF4A; */
/* } */

/* #battery.charging, */
#battery:hover {
  color: #161320;
  background: #36C5FF;
}

#custom-poweroff {
  color: @foreground;
  /* background: #ffffff; */
  background-color: @background;
}
#custom-poweroff:hover {
    color: #FC0000;
}

#wireplumber,
#memory,
#cpu,
#temperature,
#battery,
#network,
#clock,
#custom-poweroff,
#idle_inhibitor,
#window,
#workspaces,
#custom-peak,
#custom-countdown {
  border: 2px solid #000;
}

#custom-peak,
#wireplumber,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#window,
#network,
#custom-poweroff,
#idle_inhibitor,
#custom-countdown {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  transition: none;
  border: 2px solid #000;
}
